In [1]:
from bs4 import BeautifulSoup
import selenium
from selenium.common.exceptions import TimeoutException
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, WebDriverException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import requests
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
import requests

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://rentberry.com/nl/apartments/s/amsterdam-netherlands')
time.sleep(2)

In [4]:
consent = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div/div[2]/button[3]')
consent.click()

In [5]:
Rent_url = []
start = 0
end = 15
for page in range (start,end):
    url = driver.find_elements(By.XPATH,'//a[@class="property-card-bottom-address__text link-ghost font-xs one-line-string"]')
    for i in url:
        Rent_url.append(i.get_attribute('href'))
    
    Next_button = driver.find_elements(By.XPATH, '//span[@class="pagination-arrow-next"]')
    time.sleep(3)

In [6]:
print(len(Rent_url))

330

In [7]:
Bed = []
Bath = []
Area = []
Price = []
Pets = []
Address =[]
Deposit = []
AC  = []
Dishwasher = []
Storage = []

In [8]:
for url in Rent_url:
    driver.get(url)
    delay = 3
    
    try:
        bed = driver.find_element(By.XPATH, '//*[@id="main-info"]/rb-apartment-card-swiper/div/div[3]/rb-apartment-internals/section/div[1]/div[2]/span[1]')
        Bed.append(bed.text)
    except NoSuchElementException:
        Bed.append('Null')
    except StaleElementReferenceException:
        Bed.append('Null')
    except WebDriverException:
        Bed.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        bath = driver.find_element(By.XPATH, '//span[@class="bathrooms"]')
        Bath.append(bath.text)
    except NoSuchElementException:
        Bath.append('Null')
    except StaleElementReferenceException:
        Bath.append('Null')
    except WebDriverException:
        Bath.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        area = driver.find_element(By.XPATH, '//div[@class="internals-item"][3]/div[2]')
        Area.append(area.text)
    except NoSuchElementException:
        Area.append('Null')
    except StaleElementReferenceException:
        Area.append('Null')
    except WebDriverException:
        Area.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        price = driver.find_element(By.XPATH, '//div[@class="property-card-bottom-price"]/p')
        Price.append(price.text)
    except NoSuchElementException:
        Price.append('Null')
    except StaleElementReferenceException:
        price.append('Null')
    except WebDriverException:
        price.append('Null')  
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        ac = driver.find_element(By.XPATH, '//*[@id="property-amenities"]/div/div/div/rb-property-rb-amenities/div/rb-amenities/ul/li[4]/div/span[2]')
        AC.append(ac.text)
    except NoSuchElementException:
        AC.append('Null')
    except WebDriverException:
        AC.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)

    try:
        dishwasher = driver.find_element(By.XPATH, '//*[@id="property-amenities"]/div/div/div/rb-property-rb-amenities/div/rb-amenities/ul/li[7]/div/span[2]')
        Dishwasher.append(dishwasher.text)
    except NoSuchElementException:
        Dishwasher.append('Null')
    except WebDriverException:
        Dishwasher.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except StaleElementReferenceException:
        Dishwasher.append('Null')

    
    try:
        address = driver.find_element(By.XPATH, '//span[@class="property-data-address-name"]')
        Address.append(address.text)
    except NoSuchElementException:
        Address.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except WebDriverException:
        Address.append('Null')
    except StaleElementReferenceException:
        Address.append('Null')
        
    try:
        pets = driver.find_element(By.XPATH, '//*[@id="main-info"]/section/div/div/rb-property-facilities/section/div[4]/span[2]')
        Pets.append(pets.text)
    except NoSuchElementException:
        Pets.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except WebDriverException:
        Pets.append('Null')
    except StaleElementReferenceException:
        Pets.append('Null')

In [9]:
DF12 = pd.DataFrame({'Address':Address,'Bed':Bed,'Bath':Bath,'Area':Area,'Pets':Pets,'Dishwasher':Dishwasher,'AC':AC,'Price':Price})
DF12

,Address,Bed,Bath,Area,Pets,Dishwasher,AC,Price
0,"Professor W.H. Keesomlaan 5A, 1183 DJ Amstelve...",Studio,1,26 \nm,No pets,Dishwasher,Air Conditioning,"€3,047"
1,"Da Costastraat 104-1, 1053 ZT Amsterdam, Nethe...",3,1,37 \nm,No pets,Null,Null,"€2,450"
2,"Corendon Plaza Amsterdam Schiphol Airport, Sch...",Studio,1,45 \nm,No pets,Null,Storage,"€3,183"
3,"Gerrit Rietveldsingel, 1112 ZA Diemen, Netherl...",3,1,91 \nm,Null,Null,Null,€623
4,"Oude Looiersstraat 79, 1016 VH Amsterdam, Neth...",4,1,65 \nm,No pets,Null,Dishwasher,"€3,350"
...,...,...,...,...,...,...,...,...
325,"Maria Snelplantsoen 1, 1106 WN Amsterdam, Neth...",5,1,200 \nm,Null,Null,Null,Null
326,"Sonneveld 44-1, 1082 EZ Amsterdam, Netherlands",5,1,130 \nm,Null,Null,Null,€719
327,"1057 JV Amsterdam, Netherlands",Studio,Null,Null,Null,Null,Null,"€4,963"
328,"Bestevâerstraat 153-H, 1055 TK Amsterdam, Neth...",4,1,90 \nm,Null,Null,Null,€768
329,"Voorburgstraat 252B, 1062 JB Amsterdam, Nether...",4,1,10 \nm,No pets,Null,Null,€845

In [10]:
import time
import csv
csv_file_path = 'DF12.csv'
with open(csv_file_path, 'w', newline='', encoding='utf-8') as csv_file_path:
    csv_writer = csv.writer(csv_file_path)

import joblib
joblib.dump(DF12,'df12')

New_Data_Scraped9 =  joblib.load('df12')
New_Data_Scraped9

,Address,Bed,Bath,Area,Pets,Dishwasher,AC,Price
0,"Professor W.H. Keesomlaan 5A, 1183 DJ Amstelve...",Studio,1,26 \nm,No pets,Dishwasher,Air Conditioning,"€3,047"
1,"Da Costastraat 104-1, 1053 ZT Amsterdam, Nethe...",3,1,37 \nm,No pets,Null,Null,"€2,450"
2,"Corendon Plaza Amsterdam Schiphol Airport, Sch...",Studio,1,45 \nm,No pets,Null,Storage,"€3,183"
3,"Gerrit Rietveldsingel, 1112 ZA Diemen, Netherl...",3,1,91 \nm,Null,Null,Null,€623
4,"Oude Looiersstraat 79, 1016 VH Amsterdam, Neth...",4,1,65 \nm,No pets,Null,Dishwasher,"€3,350"
...,...,...,...,...,...,...,...,...
325,"Maria Snelplantsoen 1, 1106 WN Amsterdam, Neth...",5,1,200 \nm,Null,Null,Null,Null
326,"Sonneveld 44-1, 1082 EZ Amsterdam, Netherlands",5,1,130 \nm,Null,Null,Null,€719
327,"1057 JV Amsterdam, Netherlands",Studio,Null,Null,Null,Null,Null,"€4,963"
328,"Bestevâerstraat 153-H, 1055 TK Amsterdam, Neth...",4,1,90 \nm,Null,Null,Null,€768
329,"Voorburgstraat 252B, 1062 JB Amsterdam, Nether...",4,1,10 \nm,No pets,Null,Null,€845

In [13]:
New_Data_Scraped9.to_excel("df12.xlsx", index = True, header = True)
print('spreadsheet saved :')

spreadsheet saved :