In [18]:
from bs4 import BeautifulSoup
import selenium
from selenium.common.exceptions import TimeoutException
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, WebDriverException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import requests
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
import requests

In [19]:
driver = webdriver.Chrome()

In [20]:
driver.get('https://rentberry.com/apartments/s/miami-fl')
time.sleep(2)

In [21]:
consent = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div/div[2]/button[3]')
consent.click()

In [22]:
Rent_url = []
start = 0
end = 20
for page in range (start,end):
    url = driver.find_elements(By.XPATH,'//a[@class="property-card-bottom-address__text link-ghost font-xs one-line-string"]')
    for i in url:
        Rent_url.append(i.get_attribute('href'))
    
    Next_button = driver.find_elements(By.XPATH, '//span[@class="pagination-arrow-next"]')
    time.sleep(3)

In [23]:
print(len(Rent_url))

440

In [24]:
Bed = []
Bath = []
Area = []
Price = []
Pets = []
Address =[]
Deposit = []
AC  = []
Dishwasher = []
Storage = []

In [25]:
for url in Rent_url:
    driver.get(url)
    delay = 3
    
    try:
        bed = driver.find_element(By.XPATH, '//*[@id="main-info"]/rb-apartment-card-swiper/div/div[3]/rb-apartment-internals/section/div[1]/div[2]/span[1]')
        Bed.append(bed.text)
    except NoSuchElementException:
        Bed.append('Null')
    except StaleElementReferenceException:
        Bed.append('Null')
    except WebDriverException:
        Bed.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        bath = driver.find_element(By.XPATH, '//span[@class="bathrooms"]')
        Bath.append(bath.text)
    except NoSuchElementException:
        Bath.append('Null')
    except StaleElementReferenceException:
        Bath.append('Null')
    except WebDriverException:
        Bath.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        area = driver.find_element(By.XPATH, '//div[@class="internals-item"][3]/div[2]')
        Area.append(area.text)
    except NoSuchElementException:
        Area.append('Null')
    except StaleElementReferenceException:
        Area.append('Null')
    except WebDriverException:
        Area.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        price = driver.find_element(By.XPATH, '//div[@class="property-card-bottom-price"]/p')
        Price.append(price.text)
    except NoSuchElementException:
        Price.append('Null')
    except StaleElementReferenceException:
        price.append('Null')
    except WebDriverException:
        price.append('Null')  
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        ac = driver.find_element(By.XPATH, '//*[@id="property-amenities"]/div/div/div/rb-property-rb-amenities/div/rb-amenities/ul/li[4]/div/span[2]')
        AC.append(ac.text)
    except NoSuchElementException:
        AC.append('Null')
    except WebDriverException:
        AC.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)

    try:
        dishwasher = driver.find_element(By.XPATH, '//*[@id="property-amenities"]/div/div/div/rb-property-rb-amenities/div/rb-amenities/ul/li[7]/div/span[2]')
        Dishwasher.append(dishwasher.text)
    except NoSuchElementException:
        Dishwasher.append('Null')
    except WebDriverException:
        Dishwasher.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except StaleElementReferenceException:
        Dishwasher.append('Null')

    
    try:
        address = driver.find_element(By.XPATH, '//span[@class="property-data-address-name"]')
        Address.append(address.text)
    except NoSuchElementException:
        Address.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except WebDriverException:
        Address.append('Null')
    except StaleElementReferenceException:
        Address.append('Null')
        
    try:
        pets = driver.find_element(By.XPATH, '//*[@id="main-info"]/section/div/div/rb-property-facilities/section/div[4]/span[2]')
        Pets.append(pets.text)
    except NoSuchElementException:
        Pets.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except WebDriverException:
        Pets.append('Null')
    except StaleElementReferenceException:
        Pets.append('Null')

In [26]:
DF13 = pd.DataFrame({'Address':Address,'Bed':Bed,'Bath':Bath,'Area':Area,'Pets':Pets,'Dishwasher':Dishwasher,'AC':AC,'Price':Price})
DF13

,Address,Bed,Bath,Area,Pets,Dishwasher,AC,Price
0,1673 Bay Road,1,1,600 \nSq Ft,No pets,Null,Null,"$2,440"
1,"1010 Brickell Avenue, Unit 4410",Studio,1,Null,"$2,700",Null,Null,"$2,650"
2,"111 Southwest 3rd Street, Miami, FL 33130, USA",1,2,789 \nSq Ft,No pets,Null,Null,"$3,025"
3,7933 West Drive,2,2,"1,000 \nSq Ft",No pets,Null,Null,"$3,000"
4,"1061 Northeast 18th Street, Miami, FL 33132, USA",1,2,745 \nSq Ft,Dogs,Null,Null,"$3,269"
...,...,...,...,...,...,...,...,...
435,"Miami Springs, FL, 33166",2,2,"1,495 \nSq Ft",Dogs,Null,Null,"$5,970"
436,"Miami, FL",2,1,Null,Null,Null,Garden,"$3,850"
437,"7928 West Drive, North Bay Village, Miami-Dade...",1,1,760 \nSq Ft,Null,Null,Null,"$2,700"
438,"Miami, FL",1,1,675 \nSq Ft,Dogs,Null,Null,"$11,970"
439,"7934 West Drive, North Bay Village, Miami-Dade...",1,Null,Null,Null,Null,Null,"$6,500"

In [27]:
import time
import csv
csv_file_path = 'DF13.csv'
with open(csv_file_path, 'w', newline='', encoding='utf-8') as csv_file_path:
    csv_writer = csv.writer(csv_file_path)

import joblib
joblib.dump(DF13,'df13')

New_Data_Scraped10 =  joblib.load('df13')
New_Data_Scraped10

,Address,Bed,Bath,Area,Pets,Dishwasher,AC,Price
0,1673 Bay Road,1,1,600 \nSq Ft,No pets,Null,Null,"$2,440"
1,"1010 Brickell Avenue, Unit 4410",Studio,1,Null,"$2,700",Null,Null,"$2,650"
2,"111 Southwest 3rd Street, Miami, FL 33130, USA",1,2,789 \nSq Ft,No pets,Null,Null,"$3,025"
3,7933 West Drive,2,2,"1,000 \nSq Ft",No pets,Null,Null,"$3,000"
4,"1061 Northeast 18th Street, Miami, FL 33132, USA",1,2,745 \nSq Ft,Dogs,Null,Null,"$3,269"
...,...,...,...,...,...,...,...,...
435,"Miami Springs, FL, 33166",2,2,"1,495 \nSq Ft",Dogs,Null,Null,"$5,970"
436,"Miami, FL",2,1,Null,Null,Null,Garden,"$3,850"
437,"7928 West Drive, North Bay Village, Miami-Dade...",1,1,760 \nSq Ft,Null,Null,Null,"$2,700"
438,"Miami, FL",1,1,675 \nSq Ft,Dogs,Null,Null,"$11,970"
439,"7934 West Drive, North Bay Village, Miami-Dade...",1,Null,Null,Null,Null,Null,"$6,500"

In [28]:
New_Data_Scraped10.to_excel("df13.xlsx", index = True, header = True)
print('spreadsheet saved :')

spreadsheet saved :