In [9]:
from bs4 import BeautifulSoup
import selenium
from selenium.common.exceptions import TimeoutException
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, WebDriverException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import requests
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
import requests

In [10]:
driver = webdriver.Chrome()

In [11]:
driver.get('https://rentberry.com/apartments/s/orlando-fl')
time.sleep(2)

In [12]:
consent = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div/div[2]/button[3]')
consent.click()

In [13]:
Rent_url = []
start = 0
end = 15
for page in range (start,end):
    url = driver.find_elements(By.XPATH,'//a[@class="property-card-bottom-address__text link-ghost font-xs one-line-string"]')
    for i in url:
        Rent_url.append(i.get_attribute('href'))
    
    Next_button = driver.find_elements(By.XPATH, '//span[@class="pagination-arrow-next"]')
    time.sleep(3)

In [14]:
print(len(Rent_url))

330

In [15]:
Bed = []
Bath = []
Area = []
Price = []
Pets = []
Address =[]
Deposit = []
AC  = []
Dishwasher = []
Storage = []

In [16]:
for url in Rent_url:
    driver.get(url)
    delay = 3
    
    try:
        bed = driver.find_element(By.XPATH, '//*[@id="main-info"]/rb-apartment-card-swiper/div/div[3]/rb-apartment-internals/section/div[1]/div[2]/span[1]')
        Bed.append(bed.text)
    except NoSuchElementException:
        Bed.append('Null')
    except StaleElementReferenceException:
        Bed.append('Null')
    except WebDriverException as W:
        print('WebDriverException :',W)
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        bath = driver.find_element(By.XPATH, '//span[@class="bathrooms"]')
        Bath.append(bath.text)
    except NoSuchElementException:
        Bath.append('Null')
    except StaleElementReferenceException:
        Bath.append('Null')
    except WebDriverException as W:
        print('WebDriverException :',W)
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        area = driver.find_element(By.XPATH, '//div[@class="internals-item"][3]/div[2]')
        Area.append(area.text)
    except NoSuchElementException:
        Area.append('Null')
    except StaleElementReferenceException:
        Area.append('Null')
    except WebDriverException as W:
        print('WebDriverException :',W)
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        price = driver.find_element(By.XPATH, '//div[@class="property-card-bottom-price"]/p')
        Price.append(price.text)
    except NoSuchElementException:
        Price.append('Null')
    except StaleElementReferenceException:
        price.append('Null')
    except WebDriverException as W:
        print('WebDriverException :',W)   
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        ac = driver.find_element(By.XPATH, '//ul[@class="amenities-list row"]/li[2]/div[1]/span[2]')
        AC.append(ac.text)
    except NoSuchElementException:
        AC.append('Null')
    except WebDriverException as W:
        print('WebDriverException :',W)
    except TimeoutException as e:
        print('Exception Raise:', e)

    try:
        dishwasher = driver.find_element(By.XPATH, '//ul[@class="amenities-list row"]/li[3]/div[1]/span[2]')
        Dishwasher.append(dishwasher.text)
    except NoSuchElementException:
        Dishwasher.append('Null')
    except WebDriverException as W:
        print('WebDriverException :',W)
    except TimeoutException as e:
        print('Exception Raise:', e)
    except StaleElementReferenceException:
        Dishwasher.append('Null')

    
    try:
        address = driver.find_element(By.XPATH, '//span[@class="property-data-address-name"]')
        Address.append(address.text)
    except NoSuchElementException:
        Address.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except WebDriverException as W:
        print('WebDriverException :',W)
    except StaleElementReferenceException:
        Address.append('Null')

In [20]:
DF3 = pd.DataFrame({'Address':Address,'Bed':Bed,'Bath':Bath,'Area':Area,'Dishwasher':Dishwasher,'AC':AC,'Price':Price})
DF3

,Address,Bed,Bath,Area,Dishwasher,AC,Price
0,550 Valencia Place Circle,4,2.5,"1,846 \nSq Ft",Null,Null,"$2,500"
1,"Cason Cove Drive, Orlando, FL 32811, USA",1,1,600 \nSq Ft,Null,Null,"$1,250"
2,"5473 Caramella Drive, Orlando, FL 32829, USA",3,2.5,"1,675 \nSq Ft",Null,Null,"$2,500"
3,"2644 Nancy Street, Orlando, FL 32806, USA",3,2,"1,796 \nSq Ft",Null,Null,"$2,100"
4,"9053 Lee Vista Boulevard, Orlando, FL 32829, USA",3,2,"1,202 \nSq Ft",Null,Null,"$2,100"
...,...,...,...,...,...,...,...
325,"Orlando, FL",3,2,Null,Elevator,Balcony,"$10,320"
326,"8781 Harbor View Drive, Orange County, FL 3281...",4,2,"1,971 \nSq Ft",Null,Null,"$3,900"
327,"unnamed road, Orlando, FL 32827, USA",3,2,"1,720 \nSq Ft",Null,Null,"$2,800"
328,"Orlando, FL",1,1,546 \nSq Ft,Parking,Elevator,"$2,880"
329,"1854 Woodward Street, Orlando, FL 32803, USA",3,1,"1,564 \nSq Ft",Null,Null,"$2,300"

In [21]:
import time
import csv

In [22]:
csv_file_path = 'DF3.csv'
with open(csv_file_path, 'w', newline='', encoding='utf-8') as csv_file_path:
    csv_writer = csv.writer(csv_file_path)

In [24]:
import joblib
joblib.dump(DF3,'df3')

['df3']

In [25]:
New_Data_Scraped =  joblib.load('df3')
New_Data_Scraped

,Address,Bed,Bath,Area,Dishwasher,AC,Price
0,550 Valencia Place Circle,4,2.5,"1,846 \nSq Ft",Null,Null,"$2,500"
1,"Cason Cove Drive, Orlando, FL 32811, USA",1,1,600 \nSq Ft,Null,Null,"$1,250"
2,"5473 Caramella Drive, Orlando, FL 32829, USA",3,2.5,"1,675 \nSq Ft",Null,Null,"$2,500"
3,"2644 Nancy Street, Orlando, FL 32806, USA",3,2,"1,796 \nSq Ft",Null,Null,"$2,100"
4,"9053 Lee Vista Boulevard, Orlando, FL 32829, USA",3,2,"1,202 \nSq Ft",Null,Null,"$2,100"
...,...,...,...,...,...,...,...
325,"Orlando, FL",3,2,Null,Elevator,Balcony,"$10,320"
326,"8781 Harbor View Drive, Orange County, FL 3281...",4,2,"1,971 \nSq Ft",Null,Null,"$3,900"
327,"unnamed road, Orlando, FL 32827, USA",3,2,"1,720 \nSq Ft",Null,Null,"$2,800"
328,"Orlando, FL",1,1,546 \nSq Ft,Parking,Elevator,"$2,880"
329,"1854 Woodward Street, Orlando, FL 32803, USA",3,1,"1,564 \nSq Ft",Null,Null,"$2,300"

In [26]:
New_Data_Scraped.to_excel("df3.xlsx", index = True, header = True)
print('spreadsheet saved :')

spreadsheet saved :

In [27]:
driver.close()