In [1]:
from bs4 import BeautifulSoup
import selenium
from selenium.common.exceptions import TimeoutException
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, WebDriverException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import requests
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
import requests

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://rentberry.com/au/apartments/s/sydney-nsw-australia')
time.sleep(2)

In [4]:
consent = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div/div[2]/button[3]')
consent.click()

In [5]:
consent = driver.find_element(By.XPATH, '//*[@id="sticky-wrapper"]/div/form/div[2]/fieldset/div/button')
consent.click()

In [6]:
Rent_url = []
start = 0
end = 5
for page in range (start,end):
    url = driver.find_elements(By.XPATH,'//a[@class="rd-link image-link"]')
    for i in url:
        Rent_url.append(i.get_attribute('href'))
    
    Next_button = driver.find_elements(By.XPATH, '//*[@id="wrapper_pager"]/p/a[5]')
    time.sleep(3)

In [7]:
print(len(Rent_url))

125

In [10]:
Bed = []
Bath = []
Area = []
Price = []
Pets = []
Address =[]
Deposit = []
AC  = []
Dishwasher = []
Storage = []

In [11]:
for url in Rent_url:
    driver.get(url)
    delay = 3
    
    try:
        bed = driver.find_element(By.XPATH, '//*[@id="details-summary-typeDesc"]')
        Bed.append(bed.text)
    except NoSuchElementException:
        Bed.append('Null')
    except StaleElementReferenceException:
        Bed.append('Null')
    except WebDriverException:
        Bed.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        bath = driver.find_element(By.XPATH, '//*[@id="details-summary-bathroom"]')
        Bath.append(bath.text)
    except NoSuchElementException:
        Bath.append('Null')
    except StaleElementReferenceException:
        Bath.append('Null')
    except WebDriverException:
        Bath.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        area = driver.find_element(By.XPATH, '//*[@id="0"]/div/a/div/div[3]/div[2]/div[1]/div/span[3]/div[2]')
        Area.append(area.text)
    except NoSuchElementException:
        Area.append('Null')
    except StaleElementReferenceException:
        Area.append('Null')
    except WebDriverException:
        Area.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        price = driver.find_element(By.XPATH, '//*[@id="8a9f91da73a362950173a36619be013a"]/div/div[4]/div/span')
        Price.append(price.text)
    except NoSuchElementException:
        Price.append('Null')
    except StaleElementReferenceException:
        price.append('Null')
    except WebDriverException:
        price.append('Null')  
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        ac = driver.find_element(By.XPATH, '//*[@id="property-amenities"]/div/div/div/rb-property-rb-amenities/div/rb-amenities/ul/li[1]/div/span[2]')
        AC.append(ac.text)
    except NoSuchElementException:
        AC.append('Null')
    except WebDriverException:
        AC.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)

    try:
        dishwasher = driver.find_element(By.XPATH, '//*[@id="property-amenities"]/div/div/div/rb-property-rb-amenities/div/rb-amenities/ul/li[3]/div/span[2]')
        Dishwasher.append(dishwasher.text)
    except NoSuchElementException:
        Dishwasher.append('Null')
    except WebDriverException:
        Dishwasher.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except StaleElementReferenceException:
        Dishwasher.append('Null')

    
    try:
        address = driver.find_element(By.XPATH, '//*[@id="8a9f91da73a362950173a36619be013a"]/div/div[3]/div/div[1]')
        Address.append(address.text)
    except NoSuchElementException:
        Address.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except WebDriverException:
        Address.append('Null')
    except StaleElementReferenceException:
        Address.append('Null')
        
    try:
        pets = driver.find_element(By.XPATH, '//*[@id="main-info"]/section/div/div/rb-property-facilities/section/div[4]/span[2]')
        Pets.append(pets.text)
    except NoSuchElementException:
        Pets.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except WebDriverException:
        Pets.append('Null')
    except StaleElementReferenceException:
        Pets.append('Null')

In [12]:
DF14 = pd.DataFrame({'Address':Address,'Bed':Bed,'Bath':Bath,'Area':Area,'Pets':Pets,'Dishwasher':Dishwasher,'AC':AC,'Price':Price})
DF14

    Address   Bed  Bath  Area  Pets Dishwasher    AC Price
0            Null  Null  Null  Null       Null  Null
1      Null  Null  Null  Null  Null       Null  Null  Null
2      Null  Null  Null  Null  Null       Null  Null  Null
3            Null  Null  Null  Null       Null  Null
4      Null  Null  Null  Null  Null       Null  Null  Null
..      ...   ...   ...   ...   ...        ...   ...   ...
120          Null  Null  Null  Null       Null  Null
121          Null  Null  Null  Null       Null  Null
122    Null  Null  Null  Null  Null       Null  Null  Null
123    Null  Null  Null  Null  Null       Null  Null  Null
124    Null  Null  Null  Null  Null       Null  Null  Null

[125 rows x 8 columns]

In [12]:
import time
import csv
csv_file_path = 'DF14.csv'
with open(csv_file_path, 'w', newline='', encoding='utf-8') as csv_file_path:
    csv_writer = csv.writer(csv_file_path)

import joblib
joblib.dump(DF14,'df14')

New_Data_Scraped11 =  joblib.load('df14')
New_Data_Scraped11

,Address,Bed,Bath,Area,Pets,Dishwasher,AC,Price
0,"Maroubra NSW 2035, Australia",2,1,11 \nSq Ft,No pets,Dishwasher,Air Conditioning,"$18,925"
1,"Bondi NSW 2026, Australia",2,1,"1,292 \nSq Ft",No pets,Null,Air Conditioning,"$10,651"
2,"Woolloomooloo NSW 2011, Australia",1,1,431 \nSq Ft,No pets,Null,Air Conditioning,"$11,245"
3,"Freshwater NSW 2096, Australia",Studio,Null,Null,Null,Parking,Balcony,"$24,696"
4,"Bundeena NSW 2230, Australia",Studio,1,269 \nSq Ft,No pets,Null,Parking,"$4,922"
...,...,...,...,...,...,...,...,...
435,"Bronte NSW 2024, Australia",4,3,Null,Cats,Parking,Air Conditioning,"$24,696"
436,"Narwee NSW 2209, Australia",3,3,Null,Null,Dishwasher,Air Conditioning,"$15,488"
437,"Neutral Bay NSW 2089, Australia",1,1,Null,Null,Dishwasher,Air Conditioning,"$4,158"
438,"darlinghurst, Burton Street, Darlinghurst NSW ...",Studio,Null,Null,Null,Dishwasher,Air Conditioning,"$7,256"
439,"Palm Beach NSW 2108, Australia",4,5,Null,Null,Pool,Fireplace,"$54,101"

In [13]:
New_Data_Scraped11.to_excel("df14.xlsx", index = True, header = True)
print('spreadsheet saved :')

spreadsheet saved :