In [9]:
from bs4 import BeautifulSoup
import selenium
from selenium.common.exceptions import TimeoutException
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import requests
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
import requests

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://rentberry.com/ca/apartments/s/toronto-on-canada')
time.sleep(2)

In [4]:
consent = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div/div[2]/button[3]')
consent.click()

In [5]:
Rent_url = []
start = 0
end = 10
for page in range (start,end):
    url = driver.find_elements(By.XPATH,'//a[@class="property-card-bottom-address__text link-ghost font-xs one-line-string"]')
    for i in url:
        Rent_url.append(i.get_attribute('href'))
    
    Next_button = driver.find_elements(By.XPATH, '//span[@class="pagination-arrow-next"]')
    time.sleep(2)

In [6]:
print(len(Rent_url))

220

In [7]:
Bed = []
Bath = []
Area = []
Price = []
Pets = []
Address =[]
Deposit = []
AC  = []
Dishwasher = []

In [11]:
for url in Rent_url:
    driver.get(url)
    time.sleep(3)
    
    try:
        bed = driver.find_element(By.XPATH, '//span[@class="bedrooms"]')
        Bed.append(bed.text)
    except NoSuchElementException:
        Bed.append('Null')
    try:
        bath = driver.find_element(By.XPATH, '//span[@class="bathrooms"]')
        Bath.append(bath.text)
    except NoSuchElementException:
        Bath.append('Null')
    try:
        area = driver.find_element(By.XPATH, '//div[@class="labels__item rb-icon-before rb-icon--square"][1]')
        Area.append(area.text)
    except NoSuchElementException:
        Area.append('Null')
    try:
        price = driver.find_element(By.XPATH, '//div[@class="d-flex flex-wrap justify-content-center text-left"]/div[2]')
        Price.append(price.text)
    except NoSuchElementException:
        Price.append('Null')

    try:
        pets = driver.find_element(By.XPATH, '//div[@class="facilities-param ng-star-inserted"]/span[2]')
        Pets.append(pets.text)
    except NoSuchElementException:
        Pets.append('Null')
    try:
        address = driver.find_element(By.XPATH, '//span[@class="property-data-address-name"]')
        Address.append(address.text)
    except NoSuchElementException:
        Address.append('Null')
    try:
        ac = driver.find_element(By.XPATH, '//li[@class="col-6"][1]')
        AC.append(ac.text)
    except NoSuchElementException:
        AC.append('Null')
    try:
        dishwasher = driver.find_element(By.XPATH, '//li[@class="col-6"][2]')
        Dishwasher.append(dishwasher.text)
    except NoSuchElementException:
        Dishwasher.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)

In [12]:
print(Bed)

['1 ', 'Null', '2 ', '1 ', '4 ', '1 ', '2 ', '1 ', '7 ', '2 ', '2 ', '3 ', '1 ', 'Null', '1 ', '1 ', '2 ', '2 ', '2 ', 'Null', '1 ', '2 ', '1 ', 'Null', '2 ', '1 ', '4 ', '1 ', '2 ', '1 ', '7 ', '2 ', '2 ', '3 ', '1 ', 'Null', '1 ', '1 ', '2 ', '2 ', '2 ', 'Null', '1 ', '2 ', '1 ', 'Null', '2 ', '1 ', '4 ', '1 ', '2 ', '1 ', '7 ', '2 ', '2 ', '3 ', '1 ', 'Null', '1 ', '1 ', '2 ', '2 ', '2 ', 'Null', '1 ', '2 ', '1 ', 'Null', '2 ', '1 ', '4 ', '1 ', '2 ', '1 ', '7 ', '2 ', '2 ', '3 ', '1 ', 'Null', '1 ', '1 ', '2 ', '2 ', '2 ', 'Null', '1 ', '2 ', '1 ', 'Null', '2 ', '1 ', '4 ', '1 ', '2 ', '1 ', '7 ', '2 ', '2 ', '3 ', '1 ', 'Null', '1 ', '1 ', '2 ', '2 ', '2 ', 'Null', '1 ', '2 ', '1 ', 'Null', '2 ', '1 ', '4 ', '1 ', '2 ', '1 ', '7 ', '2 ', '2 ', '3 ', '1 ', 'Null', '1 ', '1 ', '2 ', '2 ', '2 ', 'Null', '1 ', '2 ', '1 ', 'Null', '2 ', '1 ', '4 ', '1 ', '2 ', '1 ', '7 ', '2 ', '2 ', '3 ', '1 ', 'Null', '1 ', '1 ', '2 ', '2 ', '2 ', 'Null', '1 ', '2 ', '1 ', 'Null', '2 ', '1 ', '4 ', '1 ', '2 ', '1 ', '7 ', '2 ', '2 ', '3 ', '1 ', 'Null', '1 ', '1 ', '2 ', '2 ', '2 ', 'Null', '1 ', '2 ', 'Null', 'Null', '2 ', '1 ', '4 ', '1 ', '2 ', '1 ', '7 ', '2 ', '2 ', '3 ', '1 ', 'Null', '1 ', '1 ', '2 ', '2 ', '2 ', 'Null', '1 ', '2 ', '1 ', 'Null', '2 ', '1 ', '4 ', '1 ', '2 ', '1 ', '7 ', '2 ', '2 ', '3 ', '1 ', 'Null', '1 ', '1 ', '2 ', '2 ', '2 ', 'Null', '1 ', '2 ']

In [13]:
print(Bath)

['1 ', '1 ', '2 ', '2 ', '2 ', '1 ', '1 ', '2 ', '5 ', '1 ', '2 ', '1 ', '1 ', 'Null', '1 ', '1 ', '1 ', '1 ', '1 ', 'Null', '1 ', '2 ', '1 ', '1 ', '2 ', '2 ', '2 ', '1 ', '1 ', '2 ', '5 ', '1 ', '2 ', '1 ', '1 ', 'Null', '1 ', '1 ', '1 ', '1 ', '1 ', 'Null', '1 ', '2 ', '1 ', '1 ', '2 ', '2 ', '2 ', '1 ', '1 ', '2 ', '5 ', '1 ', '2 ', '1 ', '1 ', 'Null', '1 ', '1 ', '1 ', '1 ', '1 ', 'Null', '1 ', '2 ', '1 ', '1 ', '2 ', '2 ', '2 ', '1 ', '1 ', '2 ', '5 ', '1 ', '2 ', '1 ', '1 ', 'Null', '1 ', '1 ', '1 ', '1 ', '1 ', 'Null', '1 ', '2 ', '1 ', '1 ', '2 ', '2 ', '2 ', '1 ', '1 ', '2 ', '5 ', '1 ', '2 ', '1 ', '1 ', 'Null', '1 ', '1 ', '1 ', '1 ', '1 ', 'Null', '1 ', '2 ', '1 ', '1 ', '2 ', '2 ', '2 ', '1 ', '1 ', '2 ', '5 ', '1 ', '2 ', '1 ', '1 ', 'Null', '1 ', '1 ', '1 ', '1 ', '1 ', 'Null', '1 ', '2 ', '1 ', '1 ', '2 ', '2 ', '2 ', '1 ', '1 ', '2 ', '5 ', '1 ', '2 ', '1 ', '1 ', 'Null', '1 ', '1 ', '1 ', '1 ', '1 ', 'Null', '1 ', '2 ', '1 ', '1 ', '2 ', '2 ', '2 ', '1 ', '1 ', '2 ', '5 ', '1 ', '2 ', '1 ', '1 ', 'Null', '1 ', '1 ', '1 ', '1 ', '1 ', 'Null', '1 ', '2 ', '1 ', '1 ', '2 ', '2 ', '2 ', '1 ', '1 ', '2 ', '5 ', '1 ', '2 ', '1 ', '1 ', 'Null', '1 ', '1 ', '1 ', '1 ', '1 ', 'Null', '1 ', '2 ', '1 ', '1 ', '2 ', '2 ', '2 ', '1 ', '1 ', '2 ', '5 ', '1 ', '2 ', '1 ', '1 ', 'Null', '1 ', '1 ', '1 ', '1 ', '1 ', 'Null', '1 ', '2 ']

In [14]:
print(Price)

['$2,700 /month', '$2,550 /month', '$5,016 * /month', 'Null', '$5,667 * /month', '$2,700 /month', '$6,280 * /month', '$1,340 * /month', '$31,247 * /month', '$2,680 * /month', '$8,386 * /month', '$8,539 * /month', '$3,025 * /month', '$5,859 * /month', '$2,700 /month', '$2,700 /month', '$7,199 * /month', '$4,250 * /month', '$2,336 * /month', '$29,830 * /month', '$1,050 /month', '$5,667 * /month', '$2,700 /month', '$2,550 /month', '$5,016 * /month', 'Null', '$5,667 * /month', '$2,700 /month', '$6,280 * /month', '$1,340 * /month', '$31,247 * /month', '$2,680 * /month', '$8,386 * /month', '$8,539 * /month', '$3,025 * /month', '$5,859 * /month', '$2,700 /month', '$2,700 /month', '$7,199 * /month', '$4,250 * /month', '$2,336 * /month', '$29,830 * /month', '$1,050 /month', '$5,667 * /month', '$2,700 /month', '$2,550 /month', '$5,016 * /month', 'Null', '$5,667 * /month', '$2,700 /month', '$6,280 * /month', '$1,340 * /month', '$31,247 * /month', '$2,680 * /month', '$8,386 * /month', '$8,539 * /month', '$3,025 * /month', '$5,859 * /month', '$2,700 /month', '$2,700 /month', '$7,199 * /month', '$4,250 * /month', '$2,336 * /month', '$29,830 * /month', '$1,050 /month', '$5,667 * /month', '$2,700 /month', '$2,550 /month', '$5,016 * /month', 'Null', '$5,667 * /month', '$2,700 /month', '$6,280 * /month', '$1,340 * /month', '$31,247 * /month', '$2,680 * /month', '$8,386 * /month', '$8,539 * /month', '$3,025 * /month', '$5,859 * /month', '$2,700 /month', '$2,700 /month', '$7,199 * /month', '$4,250 * /month', '$2,336 * /month', '$29,830 * /month', '$1,050 /month', '$5,667 * /month', '$2,700 /month', '$2,550 /month', '$5,016 * /month', 'Null', '$5,667 * /month', '$2,700 /month', '$6,280 * /month', '$1,340 * /month', '$31,247 * /month', '$2,680 * /month', '$8,386 * /month', '$8,539 * /month', '$3,025 * /month', '$5,859 * /month', '$2,700 /month', '$2,700 /month', '$7,199 * /month', '$4,250 * /month', '$2,336 * /month', '$29,830 * /month', '$1,050 /month', '$5,667 * /month', '$2,700 /month', '$2,550 /month', '$5,016 * /month', 'Null', '$5,667 * /month', '$2,700 /month', '$6,280 * /month', '$1,340 * /month', '$31,247 * /month', '$2,680 * /month', '$8,386 * /month', '$8,539 * /month', '$3,025 * /month', '$5,859 * /month', '$2,700 /month', '$2,700 /month', '$7,199 * /month', '$4,250 * /month', '$2,336 * /month', '$29,830 * /month', '$1,050 /month', '$5,667 * /month', '$2,700 /month', '$2,550 /month', '$5,016 * /month', 'Null', '$5,667 * /month', '$2,700 /month', '$6,280 * /month', '$1,340 * /month', '$31,247 * /month', '$2,680 * /month', '$8,386 * /month', '$8,539 * /month', '$3,025 * /month', '$5,859 * /month', '$2,700 /month', '$2,700 /month', '$7,199 * /month', '$4,250 * /month', '$2,336 * /month', '$29,830 * /month', '$1,050 /month', '$5,667 * /month', '$2,700 /month', '$2,550 /month', '$5,016 * /month', 'Null', '$5,667 * /month', '$2,700 /month', '$6,280 * /month', '$1,340 * /month', '$31,247 * /month', '$2,680 * /month', '$8,386 * /month', '$8,539 * /month', '$3,025 * /month', '$5,859 * /month', '$2,700 /month', '$2,700 /month', '$7,199 * /month', '$4,250 * /month', '$2,336 * /month', '$29,830 * /month', '$1,050 /month', '$5,667 * /month', '$2,700 /month', '$2,550 /month', '$5,016 * /month', 'Null', '$5,667 * /month', '$2,700 /month', '$6,280 * /month', '$1,340 * /month', '$31,247 * /month', '$2,680 * /month', '$8,386 * /month', '$8,539 * /month', '$3,025 * /month', '$5,859 * /month', '$2,700 /month', '$2,700 /month', '$7,199 * /month', '$4,250 * /month', '$2,336 * /month', '$29,830 * /month', '$1,050 /month', '$5,667 * /month', '$2,700 /month', '$2,550 /month', '$5,016 * /month', 'Null', '$5,667 * /month', '$2,700 /month', '$6,280 * /month', '$1,340 * /month', '$31,247 * /month', '$2,680 * /month', '$8,386 * /month', '$8,539 * /month', '$3,025 * /month', '$5,859 * /month', '$2,700 /month', '$2,700 /month', '$7,199 * /month', '$4,250 * /month', '$2,336 * /month', '$29,830 * /month', '$1,050 /month', '$5,667 * /month']

In [15]:
print(Area)

['57 m\n2', '35 m\n2', '840 Sq Ft', 'Null', '269 m\n2', '54 m\n2', '855 Sq Ft', '2600 m\n2', 'Null', '800 Sq Ft', '9687 Sq Ft', '1600 Sq Ft', '68 m\n2', 'Null', '57 m\n2', '57 m\n2', '1000 Sq Ft', '133 m\n2', '117 m\n2', 'Null', '2600 m\n2', '85 m\n2', '57 m\n2', '35 m\n2', '840 Sq Ft', 'Null', '269 m\n2', '54 m\n2', '855 Sq Ft', '2600 m\n2', 'Null', '800 Sq Ft', '9687 Sq Ft', '1600 Sq Ft', '68 m\n2', 'Null', '57 m\n2', '57 m\n2', '1000 Sq Ft', '133 m\n2', '117 m\n2', 'Null', '2600 m\n2', '85 m\n2', '54 m\n2', '35 m\n2', '840 Sq Ft', 'Null', '269 m\n2', '54 m\n2', '855 Sq Ft', '2600 m\n2', 'Null', '800 Sq Ft', '9687 Sq Ft', '1600 Sq Ft', '68 m\n2', 'Null', '54 m\n2', '54 m\n2', '1000 Sq Ft', '133 m\n2', '117 m\n2', 'Null', '2600 m\n2', '85 m\n2', '54 m\n2', '35 m\n2', '840 Sq Ft', 'Null', '269 m\n2', '54 m\n2', '855 Sq Ft', '2600 m\n2', 'Null', '800 Sq Ft', '9687 Sq Ft', '1600 Sq Ft', '68 m\n2', 'Null', '54 m\n2', '54 m\n2', '1000 Sq Ft', '133 m\n2', '117 m\n2', 'Null', '2600 m\n2', '85 m\n2', '57 m\n2', '35 m\n2', '840 Sq Ft', 'Null', '269 m\n2', '57 m\n2', '855 Sq Ft', '2600 m\n2', 'Null', '800 Sq Ft', '9687 Sq Ft', '1600 Sq Ft', '68 m\n2', 'Null', '57 m\n2', '57 m\n2', '1000 Sq Ft', '133 m\n2', '117 m\n2', 'Null', '2600 m\n2', '85 m\n2', '54 m\n2', '35 m\n2', '840 Sq Ft', 'Null', '269 m\n2', '57 m\n2', '855 Sq Ft', '2600 m\n2', 'Null', '800 Sq Ft', '9687 Sq Ft', '1600 Sq Ft', '68 m\n2', 'Null', '57 m\n2', '57 m\n2', '1000 Sq Ft', '133 m\n2', '117 m\n2', 'Null', '2600 m\n2', '85 m\n2', '54 m\n2', '35 m\n2', '840 Sq Ft', 'Null', '269 m\n2', '57 m\n2', '855 Sq Ft', '2600 m\n2', 'Null', '800 Sq Ft', '9687 Sq Ft', '1600 Sq Ft', '68 m\n2', 'Null', '57 m\n2', '57 m\n2', '1000 Sq Ft', '133 m\n2', '117 m\n2', 'Null', '2600 m\n2', '85 m\n2', '54 m\n2', '35 m\n2', '840 Sq Ft', 'Null', '269 m\n2', '57 m\n2', '855 Sq Ft', '2600 m\n2', 'Null', '800 Sq Ft', '9687 Sq Ft', '1600 Sq Ft', '68 m\n2', 'Null', '54 m\n2', '54 m\n2', '1000 Sq Ft', '133 m\n2', '117 m\n2', 'Null', '2600 m\n2', '85 m\n2', '57 m\n2', '35 m\n2', '840 Sq Ft', 'Null', '269 m\n2', '57 m\n2', '855 Sq Ft', '2600 m\n2', 'Null', '800 Sq Ft', '9687 Sq Ft', '1600 Sq Ft', '68 m\n2', 'Null', '54 m\n2', '54 m\n2', '1000 Sq Ft', '133 m\n2', '117 m\n2', 'Null', '2600 m\n2', '85 m\n2', '57 m\n2', '35 m\n2', '840 Sq Ft', 'Null', '269 m\n2', '57 m\n2', '855 Sq Ft', '2600 m\n2', 'Null', '800 Sq Ft', '9687 Sq Ft', '1600 Sq Ft', '68 m\n2', 'Null', '57 m\n2', '57 m\n2', '1000 Sq Ft', '133 m\n2', '117 m\n2', 'Null', '2600 m\n2', '85 m\n2']

In [16]:
print(Pets)

['Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null', 'Null']

In [17]:
print(Dishwasher)

['Utilities Included', 'Utilities Included', 'Balcony', 'Air Conditioning', 'Parking', 'Utilities Included', 'Null', 'Fireplace', 'Fireplace', 'Parking', 'Balcony', 'Null', 'Null', 'Parking', 'Utilities Included', 'Utilities Included', 'Parking', 'Parking', 'Parking', 'Null', 'Washer/Dryer In Unit', 'Dishwasher', 'Utilities Included', 'Utilities Included', 'Balcony', 'Air Conditioning', 'Parking', 'Utilities Included', 'Null', 'Fireplace', 'Fireplace', 'Parking', 'Balcony', 'Null', 'Null', 'Parking', 'Utilities Included', 'Utilities Included', 'Parking', 'Parking', 'Parking', 'Null', 'Washer/Dryer In Unit', 'Dishwasher', 'Utilities Included', 'Utilities Included', 'Balcony', 'Air Conditioning', 'Parking', 'Utilities Included', 'Null', 'Fireplace', 'Fireplace', 'Parking', 'Balcony', 'Null', 'Null', 'Parking', 'Utilities Included', 'Utilities Included', 'Parking', 'Parking', 'Parking', 'Null', 'Washer/Dryer In Unit', 'Dishwasher', 'Utilities Included', 'Utilities Included', 'Balcony', 'Air Conditioning', 'Parking', 'Utilities Included', 'Null', 'Fireplace', 'Fireplace', 'Parking', 'Balcony', 'Null', 'Null', 'Parking', 'Utilities Included', 'Utilities Included', 'Parking', 'Parking', 'Parking', 'Null', 'Washer/Dryer In Unit', 'Dishwasher', 'Utilities Included', 'Utilities Included', 'Balcony', 'Air Conditioning', 'Parking', 'Utilities Included', 'Null', 'Fireplace', 'Fireplace', 'Parking', 'Balcony', 'Null', 'Null', 'Parking', 'Utilities Included', 'Utilities Included', 'Parking', 'Parking', 'Parking', 'Null', 'Washer/Dryer In Unit', 'Dishwasher', 'Utilities Included', 'Utilities Included', 'Balcony', 'Air Conditioning', 'Parking', 'Utilities Included', 'Null', 'Fireplace', 'Fireplace', 'Parking', 'Balcony', 'Null', 'Null', 'Parking', 'Utilities Included', 'Utilities Included', 'Parking', 'Parking', 'Parking', 'Null', 'Washer/Dryer In Unit', 'Dishwasher', 'Utilities Included', 'Utilities Included', 'Balcony', 'Air Conditioning', 'Parking', 'Utilities Included', 'Null', 'Fireplace', 'Fireplace', 'Parking', 'Balcony', 'Null', 'Null', 'Parking', 'Utilities Included', 'Utilities Included', 'Parking', 'Parking', 'Parking', 'Null', 'Washer/Dryer In Unit', 'Dishwasher', 'Utilities Included', 'Utilities Included', 'Balcony', 'Air Conditioning', 'Parking', 'Utilities Included', 'Null', 'Fireplace', 'Fireplace', 'Parking', 'Balcony', 'Null', 'Null', 'Parking', 'Utilities Included', 'Utilities Included', 'Parking', 'Parking', 'Parking', 'Null', 'Washer/Dryer In Unit', 'Dishwasher', 'Utilities Included', 'Utilities Included', 'Balcony', 'Air Conditioning', 'Parking', 'Utilities Included', 'Null', 'Fireplace', 'Fireplace', 'Parking', 'Balcony', 'Null', 'Null', 'Parking', 'Utilities Included', 'Utilities Included', 'Parking', 'Parking', 'Parking', 'Null', 'Washer/Dryer In Unit', 'Dishwasher', 'Utilities Included', 'Utilities Included', 'Balcony', 'Air Conditioning', 'Parking', 'Utilities Included', 'Null', 'Fireplace', 'Fireplace', 'Parking', 'Balcony', 'Null', 'Null', 'Parking', 'Utilities Included', 'Utilities Included', 'Parking', 'Parking', 'Parking', 'Null', 'Washer/Dryer In Unit', 'Dishwasher']

In [18]:
print(Address)

['University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Studio 2, 199 Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Trefann Court, Toronto, ON M5A 1T6, Canada', '20 Brockton Ave, Toronto, ON M6K 1S5, Canada', 'Bathurst Manor, North York, ON M3H 4J8, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'The Danforth, Toronto, ON M4E 2G1, Canada', 'M3K, Canada', 'Corktown, Toronto, ON M5A 3A9, Canada', 'Westminster-Branson, North York, ON M2R 0A5, Canada', 'Toronto, ON M5V 4B2, Canada', 'Pomona Valley, Thornhill, ON L3T 1V9, Canada', 'Yorkville, Toronto, ON M4W 2L4, Canada', '14 Main St', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Toronto, ON M5J 0B1, Canada', 'Willowdale, North York, ON M2N 2B6, Canada', 'Richvale, Richmond Hill, ON L4C 7T9, Canada', 'Yorkville, Toronto, ON M5R 2E4, Canada', 'Toronto, York, ON, CA', 'Spadina, Toronto, ON M5V 0K4, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Studio 2, 199 Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Trefann Court, Toronto, ON M5A 1T6, Canada', '20 Brockton Ave, Toronto, ON M6K 1S5, Canada', 'Bathurst Manor, North York, ON M3H 4J8, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'The Danforth, Toronto, ON M4E 2G1, Canada', 'M3K, Canada', 'Corktown, Toronto, ON M5A 3A9, Canada', 'Westminster-Branson, North York, ON M2R 0A5, Canada', 'Toronto, ON M5V 4B2, Canada', 'Pomona Valley, Thornhill, ON L3T 1V9, Canada', 'Yorkville, Toronto, ON M4W 2L4, Canada', '14 Main St', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Toronto, ON M5J 0B1, Canada', 'Willowdale, North York, ON M2N 2B6, Canada', 'Richvale, Richmond Hill, ON L4C 7T9, Canada', 'Yorkville, Toronto, ON M5R 2E4, Canada', 'Toronto, York, ON, CA', 'Spadina, Toronto, ON M5V 0K4, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Studio 2, 199 Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Trefann Court, Toronto, ON M5A 1T6, Canada', '20 Brockton Ave, Toronto, ON M6K 1S5, Canada', 'Bathurst Manor, North York, ON M3H 4J8, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'The Danforth, Toronto, ON M4E 2G1, Canada', 'M3K, Canada', 'Corktown, Toronto, ON M5A 3A9, Canada', 'Westminster-Branson, North York, ON M2R 0A5, Canada', 'Toronto, ON M5V 4B2, Canada', 'Pomona Valley, Thornhill, ON L3T 1V9, Canada', 'Yorkville, Toronto, ON M4W 2L4, Canada', '14 Main St', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Toronto, ON M5J 0B1, Canada', 'Willowdale, North York, ON M2N 2B6, Canada', 'Richvale, Richmond Hill, ON L4C 7T9, Canada', 'Yorkville, Toronto, ON M5R 2E4, Canada', 'Toronto, York, ON, CA', 'Spadina, Toronto, ON M5V 0K4, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Studio 2, 199 Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Trefann Court, Toronto, ON M5A 1T6, Canada', '20 Brockton Ave, Toronto, ON M6K 1S5, Canada', 'Bathurst Manor, North York, ON M3H 4J8, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'The Danforth, Toronto, ON M4E 2G1, Canada', 'M3K, Canada', 'Corktown, Toronto, ON M5A 3A9, Canada', 'Westminster-Branson, North York, ON M2R 0A5, Canada', 'Toronto, ON M5V 4B2, Canada', 'Pomona Valley, Thornhill, ON L3T 1V9, Canada', 'Yorkville, Toronto, ON M4W 2L4, Canada', '14 Main St', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Toronto, ON M5J 0B1, Canada', 'Willowdale, North York, ON M2N 2B6, Canada', 'Richvale, Richmond Hill, ON L4C 7T9, Canada', 'Yorkville, Toronto, ON M5R 2E4, Canada', 'Toronto, York, ON, CA', 'Spadina, Toronto, ON M5V 0K4, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Studio 2, 199 Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Trefann Court, Toronto, ON M5A 1T6, Canada', '20 Brockton Ave, Toronto, ON M6K 1S5, Canada', 'Bathurst Manor, North York, ON M3H 4J8, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'The Danforth, Toronto, ON M4E 2G1, Canada', 'M3K, Canada', 'Corktown, Toronto, ON M5A 3A9, Canada', 'Westminster-Branson, North York, ON M2R 0A5, Canada', 'Toronto, ON M5V 4B2, Canada', 'Pomona Valley, Thornhill, ON L3T 1V9, Canada', 'Yorkville, Toronto, ON M4W 2L4, Canada', '14 Main St', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Toronto, ON M5J 0B1, Canada', 'Willowdale, North York, ON M2N 2B6, Canada', 'Richvale, Richmond Hill, ON L4C 7T9, Canada', 'Yorkville, Toronto, ON M5R 2E4, Canada', 'Toronto, York, ON, CA', 'Spadina, Toronto, ON M5V 0K4, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Studio 2, 199 Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Trefann Court, Toronto, ON M5A 1T6, Canada', '20 Brockton Ave, Toronto, ON M6K 1S5, Canada', 'Bathurst Manor, North York, ON M3H 4J8, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'The Danforth, Toronto, ON M4E 2G1, Canada', 'M3K, Canada', 'Corktown, Toronto, ON M5A 3A9, Canada', 'Westminster-Branson, North York, ON M2R 0A5, Canada', 'Toronto, ON M5V 4B2, Canada', 'Pomona Valley, Thornhill, ON L3T 1V9, Canada', 'Yorkville, Toronto, ON M4W 2L4, Canada', '14 Main St', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Toronto, ON M5J 0B1, Canada', 'Willowdale, North York, ON M2N 2B6, Canada', 'Richvale, Richmond Hill, ON L4C 7T9, Canada', 'Yorkville, Toronto, ON M5R 2E4, Canada', 'Toronto, York, ON, CA', 'Spadina, Toronto, ON M5V 0K4, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Studio 2, 199 Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Trefann Court, Toronto, ON M5A 1T6, Canada', '20 Brockton Ave, Toronto, ON M6K 1S5, Canada', 'Bathurst Manor, North York, ON M3H 4J8, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'The Danforth, Toronto, ON M4E 2G1, Canada', 'M3K, Canada', 'Corktown, Toronto, ON M5A 3A9, Canada', 'Westminster-Branson, North York, ON M2R 0A5, Canada', 'Toronto, ON M5V 4B2, Canada', 'Pomona Valley, Thornhill, ON L3T 1V9, Canada', 'Yorkville, Toronto, ON M4W 2L4, Canada', '14 Main St', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Toronto, ON M5J 0B1, Canada', 'Willowdale, North York, ON M2N 2B6, Canada', 'Richvale, Richmond Hill, ON L4C 7T9, Canada', 'Yorkville, Toronto, ON M5R 2E4, Canada', 'Toronto, York, ON, CA', 'Spadina, Toronto, ON M5V 0K4, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Studio 2, 199 Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Trefann Court, Toronto, ON M5A 1T6, Canada', '20 Brockton Ave, Toronto, ON M6K 1S5, Canada', 'Bathurst Manor, North York, ON M3H 4J8, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'The Danforth, Toronto, ON M4E 2G1, Canada', 'M3K, Canada', 'Corktown, Toronto, ON M5A 3A9, Canada', 'Westminster-Branson, North York, ON M2R 0A5, Canada', 'Toronto, ON M5V 4B2, Canada', 'Pomona Valley, Thornhill, ON L3T 1V9, Canada', 'Yorkville, Toronto, ON M4W 2L4, Canada', '14 Main St', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Toronto, ON M5J 0B1, Canada', 'Willowdale, North York, ON M2N 2B6, Canada', 'Richvale, Richmond Hill, ON L4C 7T9, Canada', 'Yorkville, Toronto, ON M5R 2E4, Canada', 'Toronto, York, ON, CA', 'Spadina, Toronto, ON M5V 0K4, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Studio 2, 199 Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Trefann Court, Toronto, ON M5A 1T6, Canada', '20 Brockton Ave, Toronto, ON M6K 1S5, Canada', 'Bathurst Manor, North York, ON M3H 4J8, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'The Danforth, Toronto, ON M4E 2G1, Canada', 'M3K, Canada', 'Corktown, Toronto, ON M5A 3A9, Canada', 'Westminster-Branson, North York, ON M2R 0A5, Canada', 'Toronto, ON M5V 4B2, Canada', 'Pomona Valley, Thornhill, ON L3T 1V9, Canada', 'Yorkville, Toronto, ON M4W 2L4, Canada', '14 Main St', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Toronto, ON M5J 0B1, Canada', 'Willowdale, North York, ON M2N 2B6, Canada', 'Richvale, Richmond Hill, ON L4C 7T9, Canada', 'Yorkville, Toronto, ON M5R 2E4, Canada', 'Toronto, York, ON, CA', 'Spadina, Toronto, ON M5V 0K4, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Studio 2, 199 Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Trefann Court, Toronto, ON M5A 1T6, Canada', '20 Brockton Ave, Toronto, ON M6K 1S5, Canada', 'Bathurst Manor, North York, ON M3H 4J8, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'The Danforth, Toronto, ON M4E 2G1, Canada', 'M3K, Canada', 'Corktown, Toronto, ON M5A 3A9, Canada', 'Westminster-Branson, North York, ON M2R 0A5, Canada', 'Toronto, ON M5V 4B2, Canada', 'Pomona Valley, Thornhill, ON L3T 1V9, Canada', 'Yorkville, Toronto, ON M4W 2L4, Canada', '14 Main St', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'University Plaza, Richmond Street West, Old Toronto, ON M5V 1V6, Canada', 'Toronto, ON M5J 0B1, Canada', 'Willowdale, North York, ON M2N 2B6, Canada', 'Richvale, Richmond Hill, ON L4C 7T9, Canada', 'Yorkville, Toronto, ON M5R 2E4, Canada', 'Toronto, York, ON, CA', 'Spadina, Toronto, ON M5V 0K4, Canada']

In [19]:
print(AC)

['Furnished', 'Furnished', 'Air Conditioning', 'Washer/Dryer In Unit', 'Air Conditioning', 'Furnished', 'Null', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Null', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Roof Deck', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Washer/Dryer In Unit', 'Air Conditioning', 'Furnished', 'Null', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Null', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Roof Deck', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Washer/Dryer In Unit', 'Air Conditioning', 'Furnished', 'Null', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Null', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Roof Deck', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Washer/Dryer In Unit', 'Air Conditioning', 'Furnished', 'Null', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Null', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Roof Deck', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Washer/Dryer In Unit', 'Air Conditioning', 'Furnished', 'Null', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Null', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Roof Deck', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Washer/Dryer In Unit', 'Air Conditioning', 'Furnished', 'Null', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Null', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Roof Deck', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Washer/Dryer In Unit', 'Air Conditioning', 'Furnished', 'Null', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Null', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Roof Deck', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Washer/Dryer In Unit', 'Air Conditioning', 'Furnished', 'Null', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Null', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Roof Deck', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Washer/Dryer In Unit', 'Air Conditioning', 'Furnished', 'Null', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Null', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Roof Deck', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Washer/Dryer In Unit', 'Air Conditioning', 'Furnished', 'Null', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Null', 'Air Conditioning', 'Furnished', 'Furnished', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Air Conditioning', 'Roof Deck', 'Air Conditioning']

In [21]:
DF = pd.DataFrame({'Address':Address,'Bed':Bed,'Bath':Bath,'Area':Area,'Pet':Pets,'Dishwasher':Dishwasher,'AC':AC,'Price':Price})
DF

,Address,Bed,Bath,Area,Pet,Dishwasher,AC,Price
0,"University Plaza, Richmond Street West, Old To...",1,1,57 m\n2,Null,Utilities Included,Furnished,"$2,700 /month"
1,"Studio 2, 199 Richmond Street West, Old Toront...",Null,1,35 m\n2,Null,Utilities Included,Furnished,"$2,550 /month"
2,"Trefann Court, Toronto, ON M5A 1T6, Canada",2,2,840 Sq Ft,Null,Balcony,Air Conditioning,"$5,016 * /month"
3,"20 Brockton Ave, Toronto, ON M6K 1S5, Canada",1,2,Null,Null,Air Conditioning,Washer/Dryer In Unit,Null
4,"Bathurst Manor, North York, ON M3H 4J8, Canada",4,2,269 m\n2,Null,Parking,Air Conditioning,"$5,667 * /month"
...,...,...,...,...,...,...,...,...
215,"Willowdale, North York, ON M2N 2B6, Canada",2,1,133 m\n2,Null,Parking,Air Conditioning,"$4,250 * /month"
216,"Richvale, Richmond Hill, ON L4C 7T9, Canada",2,1,117 m\n2,Null,Parking,Air Conditioning,"$2,336 * /month"
217,"Yorkville, Toronto, ON M5R 2E4, Canada",Null,Null,Null,Null,Null,Air Conditioning,"$29,830 * /month"
218,"Toronto, York, ON, CA",1,1,2600 m\n2,Null,Washer/Dryer In Unit,Roof Deck,"$1,050 /month"
219,"Spadina, Toronto, ON M5V 0K4, Canada",2,2,85 m\n2,Null,Dishwasher,Air Conditioning,"$5,667 * /month"

In [22]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Address     220 non-null    object
 1   Bed         220 non-null    object
 2   Bath        220 non-null    object
 3   Area        220 non-null    object
 4   Pet         220 non-null    object
 5   Dishwasher  220 non-null    object
 6   AC          220 non-null    object
 7   Price       220 non-null    object
dtypes: object(8)
memory usage: 13.9+ KB

In [23]:
import time
import csv

In [27]:
csv_file_path = 'DF.csv'
with open(csv_file_path, 'w', newline='', encoding='utf-8') as csv_file:
    csv_writer = csv.writer(csv_file_path)

SyntaxError: invalid syntax (4097088185.py, line 2)

In [28]:
import joblib
joblib.dump(DF,'df')

['df']

In [29]:
data = joblib.load('df')

In [30]:
data

,Address,Bed,Bath,Area,Pet,Dishwasher,AC,Price
0,"University Plaza, Richmond Street West, Old To...",1,1,57 m\n2,Null,Utilities Included,Furnished,"$2,700 /month"
1,"Studio 2, 199 Richmond Street West, Old Toront...",Null,1,35 m\n2,Null,Utilities Included,Furnished,"$2,550 /month"
2,"Trefann Court, Toronto, ON M5A 1T6, Canada",2,2,840 Sq Ft,Null,Balcony,Air Conditioning,"$5,016 * /month"
3,"20 Brockton Ave, Toronto, ON M6K 1S5, Canada",1,2,Null,Null,Air Conditioning,Washer/Dryer In Unit,Null
4,"Bathurst Manor, North York, ON M3H 4J8, Canada",4,2,269 m\n2,Null,Parking,Air Conditioning,"$5,667 * /month"
...,...,...,...,...,...,...,...,...
215,"Willowdale, North York, ON M2N 2B6, Canada",2,1,133 m\n2,Null,Parking,Air Conditioning,"$4,250 * /month"
216,"Richvale, Richmond Hill, ON L4C 7T9, Canada",2,1,117 m\n2,Null,Parking,Air Conditioning,"$2,336 * /month"
217,"Yorkville, Toronto, ON M5R 2E4, Canada",Null,Null,Null,Null,Null,Air Conditioning,"$29,830 * /month"
218,"Toronto, York, ON, CA",1,1,2600 m\n2,Null,Washer/Dryer In Unit,Roof Deck,"$1,050 /month"
219,"Spadina, Toronto, ON M5V 0K4, Canada",2,2,85 m\n2,Null,Dishwasher,Air Conditioning,"$5,667 * /month"

In [36]:
import os
os.getcwd()

'C:\\Users\\larry'

In [37]:
data.to_excel("df.xlsx", index = True, header = True)
print('spreadsheet saved :')

PermissionError: [Errno 13] Permission denied: 'df.xlsx'

In [39]:
driver.close()