In [1]:
from bs4 import BeautifulSoup
import selenium
from selenium.common.exceptions import TimeoutException
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, WebDriverException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import requests
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
import requests

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://rentberry.com/pl/apartments/s/warsaw-poland')
time.sleep(2)

In [4]:
consent = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div/div[2]/button[3]')
consent.click()

In [6]:
Rent_url = []
start = 0
end = 20
for page in range (start,end):
    url = driver.find_elements(By.XPATH,'//a[@class="property-card-bottom-address__text link-ghost font-xs one-line-string"]')
    for i in url:
        Rent_url.append(i.get_attribute('href'))
    
    Next_button = driver.find_elements(By.XPATH, '//span[@class="pagination-arrow-next"]')
    time.sleep(3)

In [7]:
print(len(Rent_url))

440

In [8]:
Bed = []
Bath = []
Area = []
Price = []
Pets = []
Address =[]
Deposit = []
AC  = []
Dishwasher = []
Storage = []

In [9]:
for url in Rent_url:
    driver.get(url)
    delay = 3
    
    try:
        bed = driver.find_element(By.XPATH, '//*[@id="main-info"]/rb-apartment-card-swiper/div/div[3]/rb-apartment-internals/section/div[1]/div[2]/span[1]')
        Bed.append(bed.text)
    except NoSuchElementException:
        Bed.append('Null')
    except StaleElementReferenceException:
        Bed.append('Null')
    except WebDriverException:
        Bed.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        bath = driver.find_element(By.XPATH, '//span[@class="bathrooms"]')
        Bath.append(bath.text)
    except NoSuchElementException:
        Bath.append('Null')
    except StaleElementReferenceException:
        Bath.append('Null')
    except WebDriverException:
        Bath.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        area = driver.find_element(By.XPATH, '//div[@class="internals-item"][3]/div[2]')
        Area.append(area.text)
    except NoSuchElementException:
        Area.append('Null')
    except StaleElementReferenceException:
        Area.append('Null')
    except WebDriverException:
        Area.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        price = driver.find_element(By.XPATH, '//div[@class="property-card-bottom-price"]/p')
        Price.append(price.text)
    except NoSuchElementException:
        Price.append('Null')
    except StaleElementReferenceException:
        price.append('Null')
    except WebDriverException:
        price.append('Null')  
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        ac = driver.find_element(By.XPATH, '//*[@id="property-amenities"]/div/div/div/rb-property-rb-amenities/div/rb-amenities/ul/li[1]/div/span[2]')
        AC.append(ac.text)
    except NoSuchElementException:
        AC.append('Null')
    except WebDriverException:
        AC.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)

    try:
        dishwasher = driver.find_element(By.XPATH, '//*[@id="property-amenities"]/div/div/div/rb-property-rb-amenities/div/rb-amenities/ul/li[3]/div/span[2]')
        Dishwasher.append(dishwasher.text)
    except NoSuchElementException:
        Dishwasher.append('Null')
    except WebDriverException:
        Dishwasher.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except StaleElementReferenceException:
        Dishwasher.append('Null')

    
    try:
        address = driver.find_element(By.XPATH, '//span[@class="property-data-address-name"]')
        Address.append(address.text)
    except NoSuchElementException:
        Address.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except WebDriverException:
        Address.append('Null')
    except StaleElementReferenceException:
        Address.append('Null')
        
    try:
        pets = driver.find_element(By.XPATH, '//*[@id="main-info"]/section/div/div/rb-property-facilities/section/div[4]/span[2]')
        Pets.append(pets.text)
    except NoSuchElementException:
        Pets.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except WebDriverException:
        Pets.append('Null')
    except StaleElementReferenceException:
        Pets.append('Null')

In [10]:
DF18 = pd.DataFrame({'Address':Address,'Bed':Bed,'Bath':Bath,'Area':Area,'Pets':Pets,'Dishwasher':Dishwasher,'AC':AC,'Price':Price})
DF18

,Address,Bed,Bath,Area,Pets,Dishwasher,AC,Price
0,"01-234 Warsaw, Poland",Studio,1,205 \nSq Ft,Dogs,Elevator,Air Conditioning,"PLN6,704"
1,"03-724 Warsaw, Poland",1,1,463 \nSq Ft,No pets,Dishwasher,Balcony,"PLN8,412"
2,"01-248 Warsaw, Poland",2,1,656 \nSq Ft,Dogs,Dishwasher,Balcony,"PLN14,722"
3,"01-234 Warsaw, Poland",Studio,1,226 \nSq Ft,No pets,Elevator,Air Conditioning,"PLN7,361"
4,"02-486 Warsaw, Poland",Studio,1,334 \nSq Ft,No pets,Dishwasher,Air Conditioning,"PLN6,046"
...,...,...,...,...,...,...,...,...
435,"Warsaw, Masovian Voivodeship, Poland",1,1,517 \nSq Ft,No pets,Elevator,Air Conditioning,"PLN9,070"
436,"04-359 Warsaw, Poland",2,2,689 \nSq Ft,No pets,Dishwasher,Balcony,"PLN15,913"
437,"Aleje Ujazdowskie 16, 00-478 Warsaw, Poland",6,Null,Null,Null,Null,Washer/Dryer In Unit,"PLN1,908"
438,"Józefa Bellottiego 3, 01-022 Warsaw, Poland",6,1,Null,Null,Null,Washer/Dryer In Unit,"PLN1,650"
439,"Osiedle Kasprzaka A, Marcina Kasprzaka 7, 01-2...",7,Null,Null,Null,Null,Washer/Dryer In Unit,"PLN1,230"

In [11]:
import time
import csv
csv_file_path = 'DF18.csv'
with open(csv_file_path, 'w', newline='', encoding='utf-8') as csv_file_path:
    csv_writer = csv.writer(csv_file_path)

import joblib
joblib.dump(DF18,'df18')

New_Data_Scraped15 =  joblib.load('df18')
New_Data_Scraped15

,Address,Bed,Bath,Area,Pets,Dishwasher,AC,Price
0,"01-234 Warsaw, Poland",Studio,1,205 \nSq Ft,Dogs,Elevator,Air Conditioning,"PLN6,704"
1,"03-724 Warsaw, Poland",1,1,463 \nSq Ft,No pets,Dishwasher,Balcony,"PLN8,412"
2,"01-248 Warsaw, Poland",2,1,656 \nSq Ft,Dogs,Dishwasher,Balcony,"PLN14,722"
3,"01-234 Warsaw, Poland",Studio,1,226 \nSq Ft,No pets,Elevator,Air Conditioning,"PLN7,361"
4,"02-486 Warsaw, Poland",Studio,1,334 \nSq Ft,No pets,Dishwasher,Air Conditioning,"PLN6,046"
...,...,...,...,...,...,...,...,...
435,"Warsaw, Masovian Voivodeship, Poland",1,1,517 \nSq Ft,No pets,Elevator,Air Conditioning,"PLN9,070"
436,"04-359 Warsaw, Poland",2,2,689 \nSq Ft,No pets,Dishwasher,Balcony,"PLN15,913"
437,"Aleje Ujazdowskie 16, 00-478 Warsaw, Poland",6,Null,Null,Null,Null,Washer/Dryer In Unit,"PLN1,908"
438,"Józefa Bellottiego 3, 01-022 Warsaw, Poland",6,1,Null,Null,Null,Washer/Dryer In Unit,"PLN1,650"
439,"Osiedle Kasprzaka A, Marcina Kasprzaka 7, 01-2...",7,Null,Null,Null,Null,Washer/Dryer In Unit,"PLN1,230"

In [12]:
New_Data_Scraped15.to_excel("df18.xlsx", index = True, header = True)
print('spreadsheet saved :')

spreadsheet saved :